<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="root"></div>


    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script type="text/babel">
    const testimage = (
        <div>
          <div id = "container">
            <img src="https://unsplash.it/450/450/?random"/>
            <br/>
            <button id="reject">NO</button>
            <button id="select">YES</button>
          </div>
        </div>
    );
      ReactDOM.render(
          testimage,
          document.getElementById('root')
        );
    </script>
  </body>
</html>
