<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="root"></div>


    <!-- scripts -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script type="text/babel">

    var data = [
      {
         imageUrl: "https://unsplash.it/450/450/?random"
      },
      {
         imageUrl: "https://unsplash.it/450/450/?random"
      }
    ];

    console.log(data);

    function ImagePost(props){
        return <div id="container"> <img src = {props.imageUrl} />
        <br/>
        <button id="reject">NO</button>
        <button id="select">YES</button>
        </div>
    }

    function Filterapp(props){
      console.log("from inside of FilterApp "+data);
      var result = [];
      for(var i = 0; i <= data.length-1; i++){
        console.log("Printing data "+i+" : "+data[i].imageUrl);
        result.push(<ImagePost imageUrl={data[i].imageUrl} />);
        //result.push(<"ImagePost imageUrl={"+data[i].imageUrl+"} />");
        console.log("Printing result"+i+" : "+result[i]);
      }

      return(
        <div>
          {result}
        </div>
      );
    }
      ReactDOM.render(
          <Filterapp />,
          document.getElementById('root')
        );
    </script>
  </body>
</html>
